@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background: rgb(243, 251, 255);
  background: linear-gradient(
    90deg,
    rgb(133, 144, 149) 0%,
    rgba(208, 222, 229, 0.973) 29%,
    rgb(223, 222, 222) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.quiz-container {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px -1px 10px 5px rgba(100, 100, 100, 0.2);
  overflow: hidden;
}
.quiz-container h2 {
  margin: 0;
}
.finished h2 {
  text-align: center;
  padding: 30px;
}
.quiz-header {
  padding: 1.6rem;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: 1rem 0;
  font-size: 1.3rem;
}
ul li label {
  cursor: pointer;
}
button {
  background-color: #0984e3;
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  border: none;
  font-family: inherit;
}
button:hover {
  background-color: #0775c9;
}
